@media (max-width: 992px){
    body{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
    }
  .header__info  {
      flex-direction: column;
      height: auto;
      padding-bottom: 5px;
  }

    .header__menu{
        display: flex;
    }

    .header__info-info, .header__info-contacts{
        width: 100%;
        font-size: 30px;
    }
    .burger{
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        margin-right: 10px;
        /*background: var(--color-section);*/
        align-items: center;
        justify-content: center;
    }
    .burger span{
        /*position: absolute;*/
        /*top:14px;*/
        left: 0;
        background: #000;
        width: 100%;
        transition: 300ms;
        height: 2px;
    }

    .burger:before, .burger:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background: #000;
        transition: 300ms;
    }
    .burger:before{
        top:0;
    }

    .burger:after{
        bottom: 0;
    }

    .main__baner{
        width: 100%;
        height: 572px;
        display: flex;
        flex-direction: column;
    }

    .baner .main__baner-title{
        display: none;
    }

    .baner .main__baner-info{
        color: #fff;
        font-size: 40px;
        margin-top: 85px;
    }
    .button{
        width: 65vw;
        height: 90px;
        font-size: 45px;
        margin: 0 auto;
    }

    .trust-resons{
        font-size: 2.5vh;
        line-height: 3vh;
    }

    .trust-title {
        font-size: 3vh;
    }

    .order{
        font-size: 2.5vh;
        padding: 30px;
    }

    h3{
        font-size: 3vh;
    }

    .order img{
        width: 2vh;
        height: auto;
    }

   .callbacksection{
       /*height: 120px;*/
       height: 50vh;
       /*padding: 50px 0;*/
   }

    .footer__product{
        display: none;
    }
    .footer__info{
        flex-direction: column;
        text-align: center;
    }
    .footer__info-info, .footer__info-contacts{
        width: 100%;
    }

    .footer__info-info span{
        display: block;
        margin: 0;
    }
}