@media (max-width: 414px) {
    .header__info{
        font-size: 16px;
    }

    .logo{
        width: 82px;
        height: 82px;
    }

    h1{
        font-size: 16px;
    }

    h3{
        font-size: 30px;
    }
  

    .header__info-info, .header__info-contacts{
        width: 100%;
        font-size: 16px;
    }

    .main__baner{
        height: 641px;
    }

    .baner .main__baner-info{
        color: #fff;
        font-size: 30px;
        margin-top: 100px;
        padding-left: 100px;
        width: 100%;
    }

    .baner{
        background: url(../images/backgroundbaner414.png);
        background-size: cover;
    }

    .button{
        width: 81%;
        height: 40px;
        font-size: 20px;
    }

    .main__buner-button{
        margin: 100px auto;
    }

    .trust{
        background:url(../images/backgroundtrust414.png);
        background-size: cover;
    }

    .trust-resons{
        font-size: 20px;
        line-height: 40px;
    }
    .order{
        font-size: 20px;
        column-gap: 14vw;
    }
    .order h3{
        text-align: left;
        margin-left: 0;
    }

    .order img{
        
        max-width: 65px;
    }

    .callbacksection{
        font-size: 20px;
        text-align: center;
        height: 434px;
    }

    .callbacksection input{
        width: 81vw;
        height: 40px;
        font-size: 20px;
    }
    
    .footer__info{
        font-size: 20px;
    }


    }